<div>
    {{#if products.length}}
        <div>
            <h1>Productos en el carrito:</h1>
            {{#each products}}
                <div>
                    <h3>Titulo: {{this.title}}</h3>
                    <p>Descipcion: {{this.description}}</p>
                    <p>Categoria: {{this.category}}</p>
                    <p>SKU: {{this.code}}</p>
                    <p>Precio: {{this.price}}</p>
                    <p>Disponibles: {{this.stock}}</p>
                    <br>
                </div>
            {{/each}}
            <br>
             <p>Cart ID: {{cart._id}}</p>
             <a href="/api/carts/{{cart._id}}/purchase">Finalizar compra</a>
        </div>
    {{else}}
        <h1>No hay productos en el carrito</h1>
    {{/if}}
</div>
