{{!-- {{#if products.length}}
<div>
    {{#each products}}
    <h1>Bienvenido! {{../user.name}} </h1>

    <h2>Lista de productos:</h2>

    <div>
        <h3>Titulo: {{this.title}}</h3>
        <p>Descipcion: {{this.description}}</p>
        <p>Categoria: {{this.category}}</p>
        <p>SKU: {{this.code}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Disponibles: {{this.stock}}</p>
        <form action="/api/products/{{_id}}/add-to-cart" method="POST">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit">Agregar al carrito</button>
        </form>

        </form>
    </div>
    <br />
    {{/each}}
</div>
<br />

<div>
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>
        << Anterior 
    </a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
    {{#if hasNextPage}}
    <a href={{this.nextLink}}>
        Siguiente >> 
    </a>
    {{/if}}
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}} --}}

{{#if products.length}}
<div>
    <h1>Bienvenido! {{user.name}} </h1>

    <h2>Lista de productos:</h2>
    {{#each products}}


    <div>
        <h3>Titulo: {{this.title}}</h3>
        <p>Descipcion: {{this.description}}</p>
        <p>Categoria: {{this.category}}</p>
        <p>SKU: {{this.code}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Disponibles: {{this.stock}}</p>
  <form action="/api/products/{{this._id}}/add-to-cart" method="POST">
      <input type="hidden" name="title" value="{{this.title}}">
      <input type="hidden" name="description" value="{{this.description}}">
      <input type="hidden" name="category" value="{{this.category}}">
      <input type="hidden" name="code" value="{{this.code}}">
      <input type="hidden" name="price" value="{{this.price}}">
      <input type="hidden" name="stock" value="{{this.stock}}">
      <input type="number" name="quantity" value="1" min="1">
      <button type="submit">Agregar al carrito</button>
    </form>

    </div>
    <br />
    {{/each}}

    
</div>


<br />

<div>
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>
        << Anterior </a>
            {{/if}}

            {{!-- numero de pagina --}}
            &nbsp;
            {{this.page}}
            &nbsp;

            {{#if hasNextPage}}
            <a href={{this.nextLink}}>
                Siguiente >> </a>
            {{/if}}


</div>

    <br>
    <a href="/api/products/cart">Ver carrito</a> <!-- Este es el nuevo botón -->

{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}
