<!-- productDetails.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <div>
        <h2>{{product.title}}</h2>
        <p>Descripción: {{product.description}}</p>
        <p>Categoría: {{product.category}}</p>
        <p>Código SKU: {{product.code}}</p>
        <p>Precio: {{product.price}}</p>
        <p>Stock Disponible: {{product.stock}}</p>
        <button onclick="addToCart('{{product._id}}')">Agregar al carrito</button>
    </div>
    <script>
        function addToCart(productId) {
            // Implementar lógica para agregar el producto al carrito
            // Puedes utilizar AJAX o enviar una solicitud POST al endpoint correspondiente
            console.log('Producto agregado al carrito:', productId);
        }
    </script>
</body>
</html>
